$titleColor: #111518;
$textColor: #b9b9b9;
$secondaryTextColor: #FFFFFF;
$secondaryBgColor: #F1F1F1;
$accentColor: #ff6b09;
$firecampIconColor: #3D3D3D;
$facebookIconColor: #436EAB;
$colorhoverbutton:#CC5607;
