$titleColor: #111518;
$textColor: #b9b9b9;
$secondaryTextColor: #FFFFFF;
$secondaryBgColor: #F1F1F1;
$accentColor: #ff6b09;
$firecampIconColor: #3D3D3D;
$facebookIconColor: #436EAB;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
