@mixin button() {
  background-color: $accentColor;
  color: $secondaryTextColor;
  letter-spacing: 0.08em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
}
@mixin title() {
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 0.03em;
}
