h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1344px) {
  .container {
    max-width: 1344px;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.header {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.header__menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.header__mobile-logo-icon {
  height: 30px;
  width: 80px;
}

@media screen and (max-width: 767px) {
  .header__menu-btn {
    display: none;
  }
}
@media screen and (max-width: 1344px) {
  .header__wrap {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__list {
    display: none;
  }
  .header__button {
    display: none;
  }
}
.menu-toggle {
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.menu-container.is-open {
  transform: translateX(0%);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px 20px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background-color: rgba(17, 21, 24, 0.9);
  display: flex;
  flex-direction: column;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 37px;
  right: 20px;
  color: #FFFFFF;
}

.header__menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__mobile-close {
  width: 15px;
  height: 15px;
}

.header__mobile-link {
  font-weight: 800;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.header__mobile-link:hover {
  color: #ff6b09;
}

.header__mobile-list {
  margin-bottom: 50px;
  margin-top: 49px;
}

.header__mobile-button {
  border: 2px solid #ff6b09;
  width: 260px;
  height: 48px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: #ff6b09;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
}
.header__mobile-button:hover {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

.header__mobile-logo-open {
  width: 80px;
  height: 30px;
}

@media screen and (min-width: 767px) {
  .header__mobile-wrap {
    margin: 0 auto;
  }
  .header__mobile-list {
    margin-top: 72px;
  }
  .header__mobile-link {
    font-size: 26px;
  }
  .header__mobile-close {
    width: 15px;
    height: 15px;
  }
  .header__mobile-logo-open {
    width: 128px;
    height: 45px;
  }
  .header__mobile-logo {
    margin-right: 253px;
  }
  .header__mobile-button {
    display: none;
  }
  .header__mobile-close {
    width: 15px;
    margin-right: 3px;
  }
  .header {
    padding: 40px 0;
    padding-bottom: 0px;
  }
  .header__mobile-logo-icon {
    width: 135px;
    height: 88px;
  }
  .header__menu-btn {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    color: #ff6b09;
    border: 2px solid #ff6b09;
    padding: 15px 19px;
    background-color: #FFFFFF;
  }
}
@media screen and (min-width: 1344px) {
  .header__menu-wrap {
    display: none;
  }
  .header__mobile-logo {
    display: none;
  }
  .header__wrap {
    display: flex;
    justify-content: space-between;
    width: 1314px;
  }
  .header__logo {
    display: flex;
  }
  .header__computer-logo {
    width: 128px;
    height: 120px;
  }
  .header__list {
    display: flex;
    align-items: center;
  }
  .header__nav {
    display: flex;
  }
}
.hero {
  background-image: url(../img/hero/people-bg-mobile.png), -webkit-image-set(url(../img/hero/people-bg-mobile.webp) 1x, url(../img/hero/people-bg-mobile@2x.webp) 2x), -webkit-image-set(url(../img/hero/people-bg-mobile.png) 1x, url(../img/hero/people-bg-mobile@2x.png) 2x), url(../img/hero/wave-bg-mobile.png), -webkit-image-set(url(../img/hero/wave-bg-mobile.webp) 1x, url(../img/hero/wave-bg-mobile@2x.webp) 2x), -webkit-image-set(url(../img/hero/wave-bg-mobile.png) 1x, url(../img/hero/wave-bg-mobile@2x.png) 2x);
  background-image: url(../img/hero/people-bg-mobile.png), -webkit-image-set(url(../img/hero/people-bg-mobile.webp) 1x, url(../img/hero/people-bg-mobile@2x.webp) 2x), image-set(url(../img/hero/people-bg-mobile.png) 1x, url(../img/hero/people-bg-mobile@2x.png) 2x), url(../img/hero/wave-bg-mobile.png), -webkit-image-set(url(../img/hero/wave-bg-mobile.webp) 1x, url(../img/hero/wave-bg-mobile@2x.webp) 2x), image-set(url(../img/hero/wave-bg-mobile.png) 1x, url(../img/hero/wave-bg-mobile@2x.png) 2x);
  background-repeat: no-repeat;
  background-position: center bottom, center bottom, center bottom, top left;
  background-size: auto, auto, auto, cover, cover, cover;
  padding-bottom: 232px;
}

.hero__wrap {
  display: flex;
  flex-wrap: wrap;
}

.hero__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;
  margin-bottom: 8px;
}

.hero__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.08em;
  color: #b9b9b9;
}

.hero__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.08em;
  color: #111518;
  width: 280px;
  margin-bottom: 50px;
}

.hero__orange {
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.08em;
  color: #ff6b09;
}

.hero__button {
  width: 260px;
  height: 48px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  background-color: #ff6b09;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/people-bg-tablet.png), -webkit-image-set(url(../img/hero/people-bg-tablet.webp) 1x, url(../img/hero/people-bg-tablet@2x.webp) 2x), -webkit-image-set(url(../img/hero/people-bg-tablet.png) 1x, url(../img/hero/people-bg-tablet@2x.png) 2x), url(../img/hero/wave-bg-mobile.png), -webkit-image-set(url(../img/hero/wave-bg-tablet.webp) 1x, url(../img/hero/wave-bg-tablet@2x.webp) 2x), -webkit-image-set(url(../img/hero/wave-bg-tablet.png) 1x, url(../img/hero/wave-bg-tablet@2x.png) 2x);
    background-image: url(../img/hero/people-bg-tablet.png), -webkit-image-set(url(../img/hero/people-bg-tablet.webp) 1x, url(../img/hero/people-bg-tablet@2x.webp) 2x), image-set(url(../img/hero/people-bg-tablet.png) 1x, url(../img/hero/people-bg-tablet@2x.png) 2x), url(../img/hero/wave-bg-mobile.png), -webkit-image-set(url(../img/hero/wave-bg-tablet.webp) 1x, url(../img/hero/wave-bg-tablet@2x.webp) 2x), image-set(url(../img/hero/wave-bg-tablet.png) 1x, url(../img/hero/wave-bg-tablet@2x.png) 2x);
    background-repeat: no-repeat;
    background-position: top right, top right, top right, top left;
    background-size: auto, auto, auto, cover, cover, cover;
    padding-bottom: 232px;
  }
  .hero__wrap {
    display: block;
  }
  .hero__title {
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #111518;
    margin-bottom: 15px;
    width: 320px;
  }
  .hero__div {
    margin-top: 74px;
  }
}
.advantages {
  padding-top: 70px;
  padding-bottom: 70px;
}
.advantages__item {
  display: flex;
  align-items: center;
  width: 214px;
  margin: 0 auto;
}
.advantages__item:not(:last-child) {
  margin-bottom: 30px;
}
.advantages__icon {
  fill: #ff6b09;
  width: 60px;
  height: 60px;
}
.advantages__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 165%;
  width: 146px;
  color: #111518;
  letter-spacing: 0.08em;
  margin-left: 8px;
}

@media screen and (min-width: 718px) {
  .advantages {
    padding-top: 43px;
    padding-bottom: 70px;
  }
  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .advantages__item {
    margin: 0 0;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1344px) {
  .advantages {
    padding-top: 100px;
    padding-bottom: 130px;
  }
  .advantages__item {
    width: 417px;
  }
  .advantages__icon {
    width: 100px;
    height: 100px;
  }
  .advantages__text {
    font-size: 20px;
    margin-left: -19px;
    width: 239px;
  }
}
.solving__background {
  padding-top: 25px;
  position: relative;
}

.solving__title {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  width: 280px;
}

.solving__span {
  font-size: 20px;
}

.solving__help-text {
  color: #ff6b09;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
}

.solving__benefits {
  position: absolute;
  top: 205px;
  margin: 0 auto;
  background-color: #FFFFFF;
  width: 290px;
  box-shadow: -5px 8px 26px 0 rgba(0, 0, 0, 0.04);
  padding: 20px 28px;
}

.solving {
  position: relative;
  margin-bottom: 150px;
  background-color: #111518;
  padding-bottom: 365px;
}

.solving__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 165%;
  letter-spacing: 0.08em;
  color: #ff6b09;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.solving__subtitle::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: #ff6b09;
  margin-right: 9px;
}

.solving__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.08em;
  color: #111518;
}

.solving__item:not(:last-child) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .solving__title {
    width: 450px;
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
  .solving__background {
    padding-top: 55px;
    position: relative;
  }
  .solving__benefits {
    width: 738px;
  }
  .solving__list {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 90px;
    justify-content: space-between;
  }
  .solving__item {
    width: 220px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1344px) {
  .solving {
    background-image: url(../img/solving/campfire-desktop.png), -webkit-image-set(url(../img/solving/campfire-desktop.webp) 1x, url(../img/solving/campfire-desktop@2x.webp) 2x), -webkit-image-set(url(../img/solving/campfire-desktop.png) 1x, url(../img/solving/campfire-desktop@2x.png) 2x);
    background-image: url(../img/solving/campfire-desktop.png), -webkit-image-set(url(../img/solving/campfire-desktop.webp) 1x, url(../img/solving/campfire-desktop@2x.webp) 2x), image-set(url(../img/solving/campfire-desktop.png) 1x, url(../img/solving/campfire-desktop@2x.png) 2x);
    padding-bottom: 280px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .solving__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 165%;
    letter-spacing: 0.08em;
  }
  .solving__title {
    width: 807px;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
  .solving__help-text {
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
  .solving__background {
    padding-top: 100px;
    position: relative;
  }
  .solving__benefits {
    width: 1314px;
  }
  .solving__list {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 90px;
    justify-content: space-between;
  }
  .solving__item {
    width: 336px;
    margin-bottom: 0px;
  }
  .solving__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.08em;
  }
  .solving__benefits {
    top: 348px;
  }
  .solving__span {
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
}
.activity {
  padding-top: 70px;
  padding-bottom: 40px;
}

.activity__title {
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #111518;
  margin-bottom: 30px;
}

.activity__item {
  box-shadow: 0 8px 26px 0 rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
  width: 290px;
  transition: background-color 250ms ease-in-out;
}
.activity__item:not(:last-child) {
  margin-bottom: 15px;
}

.activity__wrap {
  text-align: center;
}

.activity__icon {
  height: 55px;
  fill: #ff6b09;
  width: 55px;
  transition: fill 250ms ease-in-out;
}

.activity__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.08em;
  text-align: center;
  color: #111518;
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  transition: color 250ms ease-in-out;
}

.activity__line {
  width: 20px;
  height: 2px;
  background-color: #ff6b09;
  margin: 0 auto;
  margin-top: 20px;
  transition: background-color 250ms ease-in-out;
}

.activity__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 167%;
  letter-spacing: 0.08em;
  text-align: center;
  color: #b9b9b9;
  margin-top: 20px;
  transition: color 250ms ease-in-out;
}

.activity__item:hover {
  background-color: #ff6b09;
}
.activity__item:hover .activity__icon {
  fill: #FFFFFF;
}
.activity__item:hover .activity__name {
  color: #FFFFFF;
}
.activity__item:hover .activity__line {
  background-color: #FFFFFF;
}
.activity__item:hover .activity__text {
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .activity__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 25px;
  }
  .activity__item {
    width: 334px;
    padding: 35px 32px;
  }
  .activity__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .activity__item:nth-child(-n+4) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .activity__title {
    font-size: 46px;
    text-align: left;
    margin-bottom: 47px;
  }
  .activity__list {
    padding: 0 0;
  }
  .activity__item {
    padding: 55px 28px;
    width: 418px;
  }
  .activity__name {
    font-size: 20px;
    line-height: 140%;
    width: 362px;
    margin-top: 28px;
  }
  .activity__text {
    font-size: 18px;
    line-height: 156%;
    margin-top: 32px;
  }
}
.program {
  background-image: url(../img/program/program-bg-mobile.png), -webkit-image-set(url(../img/program/program-bg-mobile.webp) 1x, url(../img/program/program-bg-mobile@2x.webp) 2x), -webkit-image-set(url(../img/program/program-bg-mobile.png) 1x, url(../img/program/program-bg-mobile@2x.png) 2x);
  background-image: url(../img/program/program-bg-mobile.png), -webkit-image-set(url(../img/program/program-bg-mobile.webp) 1x, url(../img/program/program-bg-mobile@2x.webp) 2x), image-set(url(../img/program/program-bg-mobile.png) 1x, url(../img/program/program-bg-mobile@2x.png) 2x);
  background-repeat: no-repeat;
  background-position-y: 1460px;
  background-position-x: right;
  background-color: #111518;
  padding-top: 50px;
  padding-bottom: 550px;
  margin-bottom: 238px;
  text-align: center;
  position: relative;
}
.program__wrap {
  position: relative;
}
.program__title {
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.program__subwrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.program__small-line {
  height: 1282px;
  border: 1.5px solid #FFFFFF;
  margin-right: 26px;
  margin-top: 14px;
  margin-left: 24px;
  width: 0;
}

.semester {
  text-align: left;
  width: 176px;
}
.semester:not(:first-child) {
  margin-top: 40px;
}
.semester__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 11px;
}
.semester__title::before {
  content: "";
  display: inline-block;
  height: 12px;
  width: 12px;
  background-color: #ff6b09;
  border-radius: 50%;
  left: -34px;
  top: 8px;
  position: absolute;
}
.semester__span {
  margin-right: 7px;
}
.semester__wrap {
  display: flex;
  align-items: center;
  height: 20px;
  margin-bottom: 12px;
}
.semester__sublist {
  margin-bottom: 14px;
}
.semester__line {
  width: 20px;
  height: 2px;
  background-color: #ff6b09;
  margin-right: 5px;
}
.semester__subtitle {
  font-weight: 700;
  font-size: 12px;
  line-height: 165%;
  letter-spacing: 0.08em;
  color: #ff6b09;
}
.semester__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 167%;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  opacity: 0.5;
}

.benefits {
  position: absolute;
  width: 290px;
  top: 1570px;
}

.benefits__wrap {
  background-color: #FFFFFF;
  padding: 35px 25px;
  box-shadow: -5px 8px 26px 0 rgba(0, 0, 0, 0.04);
}

.benefits__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 30px;
  width: 180px;
  text-align: left;
}

.benefits__item:not(:last-child) {
  margin-bottom: 30px;
}

.benefits__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 165%;
  letter-spacing: 0.08em;
  color: #ff6b09;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.benefits__subtitle::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 2px;
  background-color: #ff6b09;
  margin-right: 6px;
}

.benefits__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.08em;
  color: #111518;
  text-align: left;
}

@media screen and (max-width: 1344px) {
  .program__big-line {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .program {
    background-image: url(../img/program/program-bg-tablet.png), -webkit-image-set(url(../img/program/program-bg-tablet.webp) 1x, url(../img/program/program-bg-tablet@2x.webp) 2x), -webkit-image-set(url(../img/program/program-bg-tablet.png) 1x, url(../img/program/program-bg-tablet@2x.png) 2x);
    background-image: url(../img/program/program-bg-tablet.png), -webkit-image-set(url(../img/program/program-bg-tablet.webp) 1x, url(../img/program/program-bg-tablet@2x.webp) 2x), image-set(url(../img/program/program-bg-tablet.png) 1x, url(../img/program/program-bg-tablet@2x.png) 2x);
    background-position-y: 792px;
    padding-top: 60px;
    padding-bottom: 371px;
    margin-bottom: 225px;
    text-align: left;
  }
  .program__title {
    font-size: 26px;
    margin-bottom: 52px;
    width: 688px;
  }
  .program__small-line {
    height: 705px;
    margin-right: 46px;
    margin-left: 41px;
  }
  .program__subwrap {
    justify-content: flex-start;
  }
  .semester {
    width: 550px;
  }
  .semester:not(:first-child) {
    margin-top: 30px;
  }
  .semester:last-child {
    margin-top: 10px;
  }
  .semester__list {
    display: flex;
    margin-right: 51px;
  }
  .semester__title::before {
    left: -53px;
  }
  .semester__item {
    width: 150px;
  }
  .semester__item:not(:last-child) {
    margin-right: 50px;
  }
  .semester__wrap {
    margin-bottom: 13px;
  }
  .semester__sublist {
    margin-bottom: 0;
  }
  .semester__subitem {
    width: 150px;
  }
  .benefits {
    top: 1100px;
    width: 738px;
  }
  .benefits__wrap {
    padding: 40px 98px;
  }
  .benefits__title {
    font-size: 26px;
    line-height: 130%;
    text-align: center;
    width: auto;
  }
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .benefits__item {
    width: 236px;
  }
  .benefits__item:not(:last-child) {
    margin-bottom: 0;
  }
  .benefits__item:nth-child(n+3) {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1344px) {
  .program {
    background-image: url(../img/program/program-bg-desktop.png), -webkit-image-set(url(../img/program/program-bg-desktop.webp) 1x, url(../img/program/program-bg-desktop@2x.webp) 2x), -webkit-image-set(url(../img/program/program-bg-desktop.png) 1x, url(../img/program/program-bg-desktop@2x.png) 2x);
    background-image: url(../img/program/program-bg-desktop.png), -webkit-image-set(url(../img/program/program-bg-desktop.webp) 1x, url(../img/program/program-bg-desktop@2x.webp) 2x), image-set(url(../img/program/program-bg-desktop.png) 1x, url(../img/program/program-bg-desktop@2x.png) 2x);
    background-position-y: bottom;
    background-position-x: left;
    padding-top: 120px;
    padding-bottom: 326px;
    margin-bottom: 194px;
  }
  .program__title {
    font-size: 46px;
    margin-bottom: 58px;
  }
  .program__list {
    display: flex;
  }
  .program__small-line {
    display: none;
  }
  .program__big-line {
    border: 1.5px solid #FFFFFF;
    position: absolute;
    top: 118px;
    width: 100%;
  }
  .semester {
    width: 226px;
  }
  .semester:not(:first-child) {
    margin-top: 0;
    margin-left: 46px;
  }
  .semester__title {
    margin-top: 48px;
    font-size: 20px;
    margin-bottom: 25px;
  }
  .semester__title::before {
    display: block;
    left: 0;
    top: -53px;
    height: 16px;
    width: 16px;
  }
  .semester__list {
    flex-direction: column;
    margin-right: 0;
  }
  .semester__item {
    width: 226px;
  }
  .semester__item:not(:last-child) {
    margin-bottom: 25px;
    margin-right: 0;
  }
  .semester__wrap {
    height: 33px;
    margin-bottom: 9px;
  }
  .semester__line {
    margin-right: 9px;
  }
  .semester__span {
    margin-right: 9px;
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
  }
  .semester__subtitle {
    font-size: 20px;
  }
  .semester__subitem {
    width: 226px;
  }
  .semester__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
  }
  .benefits {
    width: 1314px;
    top: 981px;
  }
  .benefits__wrap {
    padding: 67px 113px;
  }
  .benefits__title {
    display: none;
  }
  .benefits__item {
    width: 336px;
  }
  .benefits__item:nth-child(n+3) {
    margin-top: 0;
  }
  .benefits__item:nth-child(n+4) {
    margin-top: 30px;
  }
  .benefits__subtitle {
    font-size: 20px;
  }
  .benefits__subtitle::before {
    width: 20px;
  }
  .benefits__text {
    font-size: 20px;
    line-height: 120%;
  }
}
.teacher {
  margin-bottom: 129px;
}

.teacher__svg {
  fill: #ff6b09;
  width: 18px;
  height: 14px;
  margin-right: 9px;
}

.teacher__title {
  color: #111518;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 800;
}

.teacher__img {
  width: 243px;
}

.teacher__name {
  color: #111518;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 800;
}

.teacher__text {
  color: #111518;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.06em;
  width: 253px;
}

.teacher__text-two {
  color: #b9b9b9;
  font-size: 12px;
  font-weight: 500;
  line-height: 167%;
}

.teacher__small-line {
  width: 20px;
  height: 2px;
  background-color: #ff6b09;
  margin-bottom: 20px;
}

.teacher__line {
  width: 280px;
  height: 1px;
  background-color: #b9b9b9;
  margin-top: 10px;
  margin-bottom: 20px;
}

.teacher__button {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #ff6b09;
  font-size: 12px;
  font-weight: 500;
  line-height: 167%;
}

.teacher__item {
  display: flex;
}
.teacher__item:not(:last-child) {
  margin-bottom: 20px;
}
.teacher__item:last-child {
  margin-bottom: 23px;
}
.teacher__item-two:not(:last-child) {
  margin-bottom: 15px;
}
.teacher__item-two:last-child {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .teacher__wraper {
    display: flex;
  }
  .teacher__title {
    font-size: 26px;
  }
  .teacher__name {
    padding-top: 0;
  }
  .teacher__line {
    width: 403px;
  }
  .teacher__item:last-child {
    margin-bottom: 30px;
  }
  .teacher__text {
    font-size: 12px;
    width: 375px;
  }
  .teacher__text-two {
    font-size: 10px;
    line-height: 200%;
  }
  .teacher__wrap {
    margin-right: 42px;
  }
  .teacher__subwrap {
    width: 403px;
    margin-top: 64px;
  }
}
@media screen and (min-width: 1344px) {
  .teacher__img {
    width: 530px;
  }
  .teacher__title {
    padding-bottom: 50px;
    font-size: 46px;
  }
  .teacher__name {
    font-size: 30px;
    padding-bottom: 15px;
  }
  .teacher__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .teacher__item:last-child {
    margin-bottom: 43px;
  }
  .teacher__subwrap {
    width: 642px;
    margin-top: 107px;
  }
  .teacher__svg {
    width: 25px;
    height: 20px;
    margin-right: 34px;
  }
  .teacher__text {
    font-size: 16px;
    width: 530px;
  }
  .teacher__small-line {
    width: 20px;
    height: 2px;
    margin-bottom: 43px;
  }
  .teacher__item-two:not(:last-child) {
    margin-bottom: 28px;
  }
  .teacher__item-two:last-child {
    margin-bottom: 22px;
  }
  .teacher__text-two {
    font-size: 18px;
    line-height: 156%;
  }
  .teacher__line {
    width: 640px;
    margin-bottom: 30px;
  }
  .teacher__button {
    font-size: 18px;
    font-size: 18px;
    line-height: 156%;
  }
}
.guarantee {
  padding-top: 70px;
}

.guarantee__list {
  background-color: #F1F1F1;
  padding: 45px 15px;
}

.guarantee__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 26px;
  line-height: 130%;
  letter-spacing: 0.03em;
}

.fire__svg {
  fill: #ff6b09;
  width: 15px;
  height: 20px;
}

.guarantee__span {
  color: #ff6b09;
}

.guarantee__item {
  display: flex;
}

.guarantee__wrap {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: center;
}

.guarantee__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 167%;
}

@media screen and (min-width: 768px) {
  .guarantee__list {
    padding: 30px 64px;
  }
  .guarantee__text {
    font-size: 12px;
  }
  .guarantee__wrap {
    margin-right: 24px;
  }
  .fire__svg {
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 1344px) {
  .guarantee {
    padding-top: 129px;
  }
  .guarantee__list {
    padding: 50px 112px;
    padding-bottom: 45px;
  }
  .guarantee__title {
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
  .guarantee__wrap {
    margin-right: 30px;
  }
  .fire__svg {
    width: 22px;
    height: 30px;
  }
  .guarantee__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
  }
  .fire__svg {
    fill: #ff6b09;
    width: 22px;
    height: 30px;
  }
}
.arrow-desktop {
  display: none;
}

.reviews {
  padding-top: 70px;
  padding-bottom: 61px;
}
.reviews__fotobloga {
  display: none;
}
.reviews__left {
  position: relative;
  left: 88px;
  top: 38px;
  fill: #ff6b09;
  width: 25px;
  height: 25px;
}
.reviews__right {
  position: relative;
  left: 298px;
  top: 38px;
  fill: #ff6b09;
  width: 25px;
  height: 25px;
}
.reviews__fotoblog {
  margin: 0 auto;
  margin-top: 25px;
}
.reviews__title {
  margin: 0 auto;
  font-family: "Montserrat";
  width: 180px;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #111518;
}
.reviews__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviews__icon-wrap {
  text-align: center;
}
.reviews__name {
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.08em;
  color: #ff6b09;
  text-align: center;
}
.reviews__history {
  width: 280px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-align: center;
  color: #b9b9b9;
  margin-bottom: 16px;
  margin: 0 auto;
}
.reviews__test {
  width: 280px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 167%;
  text-align: center;
  color: #3d3d3d;
}
.reviews__icon {
  width: 90px;
  height: 90px;
}
.reviews__link {
  text-decoration-line: underline;
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 167%;
  text-align: center;
  color: #ff6b09;
}
.reviews__item {
  margin-right: 10px;
}
.reviews .reviews__item:nth-child(n+4) {
  display: none;
}

@media screen and (min-width: 768px) {
  .arrow-desktop {
    display: none;
  }
  .icon-facebook {
    position: relative;
    right: 95px;
    top: 52px;
  }
  .reviews__fotobloga {
    display: none;
  }
  .reviews__left {
    position: relative;
    top: 68px;
    fill: #ff6b09;
    width: 25px;
    height: 80px;
  }
  .reviews__right {
    left: 580px;
    top: 68px;
    fill: #ff6b09;
    width: 25px;
    height: 80px;
  }
  .reviews__prewrap {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    box-shadow: -5px 8px 26px 0 rgba(0, 0, 0, 0.04);
  }
  .reviews__fotoblog {
    width: 150px;
    height: 150px;
  }
  .reviews__title {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    width: 400px;
    text-align: center;
    color: #111518;
    margin-bottom: 28px;
  }
  .reviews__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reviews__name {
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.08em;
    color: #ff6b09;
    text-align: left;
  }
  .reviews__history {
    width: 412px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #b9b9b9;
    margin-bottom: 16px;
    text-align: left;
  }
  .reviews__test {
    width: 412px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    color: #3d3d3d;
    text-align: left;
  }
  .reviews__link {
    text-align: left;
    justify-content: flex-start;
  }
  .reviews .reviews__item:nth-child(n+2) {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .reviews__left {
    position: relative;
    bottom: 880px;
    fill: #ff6b09;
    width: 25px;
    height: 80px;
  }
  .reviews__right {
    left: 580px;
    top: 68px;
    fill: #ff6b09;
    width: 25px;
    height: 80px;
  }
  .reviews__fotoblog {
    display: none;
  }
  .reviews__fotobloga {
    display: block;
    margin-left: 80px;
    padding-bottom: 20px;
  }
  .reviews__facebook {
    margin-left: 88px;
  }
  .reviews__title {
    width: 800px;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #111518;
  }
  .reviews__list {
    margin-top: 28px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reviews__name {
    margin-top: 108px;
    margin-left: -80px;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 0.08em;
    color: #ff6b09;
  }
  .reviews__wrap {
    width: 800px;
    margin-top: -100px;
  }
  .reviews__history {
    width: 502px;
    margin-left: -80px;
  }
  .reviews__test {
    margin-left: -80px;
  }
  .reviews__link {
    margin-left: -80px;
    margin-bottom: 20px;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.83, -0.08, 0.32, 1), visibility 250ms cubic-bezier(0.83, -0.08, 0.32, 1);
  z-index: 998;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.no-scroll {
  overflow: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  min-width: 290px;
  max-width: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 77px 27px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 250ms cubic-bezier(0.83, -0.08, 0.32, 1);
}
.modal__box-close {
  position: relative;
  cursor: pointer;
}
.modal__icon-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transition: fill 250ms ease-in-out;
}
.modal__icon-close:hover {
  fill: #ff6b09;
}
.modal__wrap {
  padding: 67px 3px;
  text-align: center;
}
.modal__title {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.08em;
  color: #111518;
}
.modal__span {
  color: #ff6b09;
}
.modal__text {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.08em;
  color: #111518;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .modal {
    min-width: 515px;
    max-width: 515px;
    padding: 71px 81px;
  }
  .modal__title {
    font-size: 24px;
  }
  .modal__text {
    font-size: 16px;
  }
}
.form {
  background-repeat: no-repeat;
  padding: 55px 0;
  opacity: 2;
  background-image: url(../img/form/form-bg-mobile.png), -webkit-image-set(url(../img/form/form-bg-mobile.webp) 1x, url(../img/form/form-bg-mobile@2x.webp) 2x), -webkit-image-set(url(../img/form/form-bg-mobile.png) 1x, url(../img/form/form-bg-mobile@2x.png));
  background-image: url(../img/form/form-bg-mobile.png), -webkit-image-set(url(../img/form/form-bg-mobile.webp) 1x, url(../img/form/form-bg-mobile@2x.webp) 2x), image-set(url(../img/form/form-bg-mobile.png) 1x, url(../img/form/form-bg-mobile@2x.png));
  background-color: #111518;
  background-size: cover;
}
.form__span {
  color: #ff6b09;
}
.form__title {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 25px;
  font-weight: 800;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}
.form__text {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 43px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-align: center;
  color: #fff;
}
.form__wrap {
  display: flex;
  justify-content: center;
}
.form__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form__label:nth-child(1) {
  margin-bottom: 20px;
}
.form__label:nth-child(2) {
  margin-bottom: 50px;
}
.form__input {
  border: 1px solid white;
  background-color: transparent;
  padding: 15.5px 0;
  margin-right: 20px;
  width: 260px;
  padding-left: 20px;
  font-weight: 600;
  min-width: 290px;
  font-size: 14px;
  letter-spacing: 0.08em;
  color: #fff;
  margin: 0 auto;
}
.form__input::-moz-placeholder {
  color: #FFFFFF;
  font-size: 14px;
}
.form__input::placeholder {
  color: #FFFFFF;
  font-size: 14px;
}
.form__button {
  border: 1px solid transparent;
  font-size: 12px;
  background-color: #ff6b09;
  font-weight: 700;
  letter-spacing: 0.08em;
  padding: 14px 46px;
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .form {
    background-image: url(../img/form/form-bg-desktop.png), -webkit-image-set(url(../img/form/form-bg-desktop.webp) 1x, url(../img/form/form-bg-desktop@2x.webp) 2x), -webkit-image-set(url(../img/form/form-bg-desktop.png) 1x, url(../img/form/form-bg-desktop@2x.png));
    background-image: url(../img/form/form-bg-desktop.png), -webkit-image-set(url(../img/form/form-bg-desktop.webp) 1x, url(../img/form/form-bg-desktop@2x.webp) 2x), image-set(url(../img/form/form-bg-desktop.png) 1x, url(../img/form/form-bg-desktop@2x.png));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding-top: 60px;
    padding-bottom: 68px;
    opacity: 9;
  }
  .form__title {
    width: 658px;
    font-weight: 800;
    margin-bottom: 50px;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
  }
  .form__text {
    width: 545px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #fff;
  }
  .form__span {
    color: #ff6b09;
  }
  .form__wrap {
    display: flex;
    justify-content: center;
  }
  .form__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .form__label:nth-child(1) {
    margin-bottom: 20px;
  }
  .form__label:nth-child(2) {
    margin-bottom: 25px;
  }
  .form__label {
    width: 390px;
  }
  .form__input {
    border: 1px solid white;
    width: 390px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.08em;
    color: #fff;
  }
  .form__button {
    background-color: #ff6b09;
  }
  .form__comment {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    opacity: 9;
  }
  .form__title {
    width: 808px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
  }
  .form__text {
    width: 1090px;
    margin-bottom: 56px;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #fff;
  }
  .form__span {
    color: #ff6b09;
  }
  .form__wrap {
    display: flex;
    justify-content: center;
  }
  .form__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .form .form__label:nth-child(1) {
    margin-bottom: 20px;
  }
  .form .form__label:nth-child(2) {
    margin-bottom: 80px;
  }
  .form__label {
    border: 1px solid black;
  }
  .form__input {
    color: white;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 40px;
    padding-right: 361px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.08em;
    color: #fff;
  }
  .form__button {
    padding-top: 14px;
    padding-bottom: 14px;
    background-color: #ff6b09;
  }
  .form__comment {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
}
.footer__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 22px;
}
.footer__link {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-align: center;
  color: #111518;
  align-items: center;
  display: flex;
}
.footer__phone-icon {
  fill: #ff6b09;
  margin-right: 10px;
}
.footer__rights {
  background-color: #111518;
}
.footer__text {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 200%;
  color: #b9b9b9;
}
.footer__instagram {
  margin: 29px auto;
}

@media screen and (min-width: 768px) {
  .footer__logo {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .footer__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__list {
    display: flex;
    flex-direction: row;
  }
  .footer__link {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.08em;
    color: #111518;
    position: relative;
  }
  .footer__rights {
    background-color: #111518;
  }
  .footer__text {
    padding-top: 20px;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
    color: #b9b9b9;
  }
  .footer__instagram {
    margin: 0 0;
  }
  .footer__item:last-child {
    margin-left: 20px;
    padding-left: 20px;
    position: relative;
  }
  .footer__item:last-child::before {
    content: "";
    display: inline-block;
    height: 40px;
    width: 1px;
    background-color: #b9b9b9;
    position: absolute;
    left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    position: relative;
    right: 480px;
  }
}/*# sourceMappingURL=main.css.map */