.program {
  background-image: url(../img/program/program-bg-mobile.png),
    -webkit-image-set(url(../img/program/program-bg-mobile.webp) 1x, url(../img/program/program-bg-mobile@2x.webp)
          2x),
    image-set(
      url(../img/program/program-bg-mobile.png) 1x,
      url(../img/program/program-bg-mobile@2x.png) 2x
    );
  background-repeat: no-repeat;
  background-position: 1460px, right;
}
@media screen and (min-width: 768px) {
  .program {
    background-image: url(../img/program/program-bg-tablet.png),
      -webkit-image-set(url(../img/program/program-bg-tablet.webp) 1x, url(../img/program/program-bg-tablet@2x.webp)
            2x),
      image-set(
        url(../img/program/program-bg-tablet.png) 1x,
        url(../img/program/program-bg-tablet@2x.png) 2x
      );
    background-position: 792px right;
  }
}

@media screen and (min-width: 1344px) {
  .program {
    background-image: url(../img/program/program-bg-desktop.png),
      -webkit-image-set(url(../img/program/program-bg-desktop.webp) 1x, url(../img/program/program-bg-desktop@2x.webp)
            2x),
      image-set(
        url(../img/program/program-bg-desktop.png) 1x,
        url(../img/program/program-bg-desktop@2x.png) 2x
      );
    background-position: bottom left;
  }
}
