html {
    scroll-behavior: smooth;
}
*,
::after,
::before {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container  {
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media screen and (min-width: 718px) {
    .container {
        max-width: 718px;
    }
}

@media screen and (min-width: 1344px) {
    .container {
        max-width: 1344px;
    }
}