<section class="footer">
  <div class="container">
    <div class="footer__wrap">
      <a href="../index.html" class="footer__logo">
        <svg width="128px" height="45px">
          <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="footer__contacts">
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link" href="tel:+380991234567"
              ><svg class="footer__phone-icon" width="20" height="20">
                <use href="./img/symbol-defs.svg#icon-phone"></use>
              </svg>
              +38 (099) 123 45 67</a
            >
          </li>
          <li class="footer__item">
            <picture>
              <source
                srcset="
                  ./img/footer/instagram.png    1x,
                  ./img/footer/instagram@2x.png 1x
                "
                type="image/png"
              />
              <source
                srcset="
                  ./img/footer/instagram.webp    1x,
                  ./img/footer/instagram@2x.webp 1x
                "
                type="image/webp"
              />
              <img
                src="./img/footer/instagram.png"
                alt=""
                class="footer__instagram"
              />
            </picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__rights">
    <div class="container">
      <p class="footer__text">© All rights reserved, 2022</p>
    </div>
  </div>
</section>
