<h1 class="form__title">Registration for a free phone consultation on the nuances of English UPE</h1>
<h2 class="form__sub-title">Leave a request for participation in a free lesson.
    A consultant will contact you and answer your questions</h2>
<div class="form__wrap">
    <form class="form__form">
        <label class="form__label">
            <input type="text" placeholder="Name*" class="form__input">
        </label>
    </form>
    <form class="form__form">
        <label class="form__label">
            <input type="text" placeholder="Phone*" class="form__input">
        </label>
    </form>
</div>
<button class="form__button">
    <p class="form__button-message">I WANT A FREE LESSON</p>
</button>