<section class="guarantee" data-aos="fade-up">
  <div class="container">
    <h2 class="guarantee__title">We guarantee</h2>
    <ul class="guarantee__list">
      <li class="guarantee__item">
        <div class="guarantee__wrap">
          <svg class="fire__svg">
            <use href="./img/symbol-defs.svg#icon-campfire"></use>
          </svg>
          <picture>
            <source
              srcset="./img/guarantee/line-desktop.png 1x"
              media="min-width:1344px"
              type="image/png"
            />
            <source
              srcset="./img/guarantee/line-tablet.png 1x"
              media="min-width:768px"
              type="image/png"
            />
            <source
              srcset="./img/guarantee/line-mobile.png 1x"
              media="min-width:320px"
              type="image/png"
            />
            <img src="./img/guarantee/line-desktop.png" alt="line" />
          </picture>
        </div>
        <p class="guarantee__text">
          You will pass the UPE with at least 25 points better than on the first
          practice test. Otherwise, we will refund your money.
          <span class="guarantee__span">*</span>
        </p>
      </li>
      <li class="guarantee__item">
        <div class="guarantee__wrap">
          <svg class="fire__svg">
            <use href="./img/symbol-defs.svg#icon-campfire"></use>
          </svg>
          <picture>
            <source
              srcset="./img/guarantee/line-desktop.png 1x"
              media="min-width:1344px"
              type="image/png"
            />
            <source
              srcset="./img/guarantee/line-tablet.png 1x"
              media="min-width:768px"
              type="image/png"
            />
            <source
              srcset="./img/guarantee/line-mobile.png 1x"
              media="min-width:320px"
              type="image/png"
            />
            <img src="./img/guarantee/line-desktop.png" alt="line" />
          </picture>
        </div>
        <p class="guarantee__text">
          You will learn to write essays with at least 10 points out of 14.
          <span class="guarantee__span"
            >While 20% of the students received 0 for essays.</span
          >
        </p>
      </li>
      <li class="guarantee__item">
        <div class="guarantee__wrap">
          <svg class="fire__svg">
            <use href="./img/symbol-defs.svg#icon-campfire"></use>
          </svg>
          <picture>
            <source
              srcset="./img/guarantee/line-desktop.png 1x"
              media="min-width:1344px"
              type="image/png"
            />
            <source
              srcset="./img/guarantee/line-tablet.png 1x"
              media="min-width:768px"
              type="image/png"
            />
            <source
              srcset="./img/guarantee/line-mobile.png 1x"
              media="min-width:320px"
              type="image/png"
            />
            <img src="./img/guarantee/line-desktop.png" alt="line" />
          </picture>
        </div>
        <p class="guarantee__text">
          You will study in your area. We will choose the location for the
          classes after the teams have been formed.
        </p>
      </li>
      <li class="guarantee__item">
        <div class="guarantee__wrap">
          <svg class="fire__svg">
            <use href="./img/symbol-defs.svg#icon-campfire"></use>
          </svg>
        </div>
        <p class="guarantee__text">
          Teams will be formed based on the starting level of the students. We
          take into account the characteristics of each student.
        </p>
      </li>
    </ul>
  </div>
</section>
