<header class="header" >
  <div class="header__menu-wrap">
    <a href="./index.html" class="header__mobile-logo" aria-label="logo">
      <svg class="header__mobile-logo-icon">
        <use href="./img/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="header__menu-btn" aria-label="open-header">consultation by phone</button>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      aria-label="open-menu"
    >
      <svg width="23" height="14">
        <use href="./img/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="container header__div">
    <div class="header__wrap">
      <a href="./index.html" class="header__logo" aria-label="logo" data-aos="fade-right">
        <svg class="header__computer-logo">
          <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item" data-aos="fade-right">
            <a href="#program" class="header__link" aria-label="nav-link">Studying program</a>
          </li>
          <li class="header__item" data-aos="fade-right" data-aos-duration="800">
            <a href="#teacher" class="header__link" aria-label="nav-link">about</a>
          </li>
          <li class="header__item" data-aos="fade-left" data-aos-duration="800">
            <a href="#form" class="header__link" aria-label="nav-link">training options</a>
          </li>
          <li class="header__item" data-aos="fade-left">
            <a href="#footer" class="header__link" aria-label="nav-link">contacts</a>
          </li>
        </ul>
      </nav>
      <button class="header__button" aria-label="open-header" data-aos="fade-left">consultation by phone</button>
    </div>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <a href="./index.html" class="header__menu-logo" aria-label="menu logo">
    <svg class="header__mobile-logo-open">
      <use href="./img/symbol-defs.svg#icon-logo-white"></use>
    </svg>
  </a>
  <button class="menu-toggle js-close-menu" aria-label="close btn">
    <svg class="header__mobile-close">
      <use href="./img/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
  <div class="header__mobile-wrap">
    <ul class="header__mobile-list">
      <li class="header__mobile-item">
        <a href="#program" class="header__mobile-link" aria-label="menu nav">Studying program</a>
      </li>
      <li class="header__mobile-item">
        <a href="#teacher" class="header__mobile-link" aria-label="menu nav">About</a>
      </li>
      <li class="header__mobile-item">
        <a href="#form" class="header__mobile-link" aria-label="menu nav">Training options</a>
      </li>
      <li class="header__mobile-item">
        <a href="#footer" class="header__mobile-link" aria-label="menu nav">Contacts</a>
      </li>
    </ul>
  </div>

  <button class="header__mobile-button" aria-label="button menu">Consultation by phone</button>
</div>
