<header class="header" data-aos="fade-up">
  <div class="header__menu-wrap">
    <a href="#" class="header__mobile-logo">
      <svg class="header__mobile-logo-icon">
        <use href="./img/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="header__menu-btn">consultation by phone</button>
    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg width="23" height="14">
        <use href="./img/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
  <div class="container header__div">
    <div class="header__wrap">
      <a href="#" class="header__logo">
        <svg class="header__computer-logo">
          <use href="./img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="#" class="header__link">Studying program</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">about</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">training options</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">contacts</a>
          </li>
        </ul>
      </nav>
      <button class="header__button">consultation by phone</button>
    </div>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <a href="./index.html" class="header__menu-logo">
    <svg class="header__mobile-logo-open">
      <use href="./img/symbol-defs.svg#icon-logo-white"></use>
    </svg>
  </a>
  <button class="menu-toggle js-close-menu">
    <svg class="header__mobile-close">
      <use href="./img/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>
  <div class="header__mobile-wrap">
    <ul class="header__mobile-list">
      <li class="header__mobile-item">
        <a href="#" class="header__mobile-link">Studying program</a>
      </li>
      <li class="header__mobile-item">
        <a href="#" class="header__mobile-link">About</a>
      </li>
      <li class="header__mobile-item">
        <a href="#" class="header__mobile-link">Training options</a>
      </li>
      <li class="header__mobile-item">
        <a href="#" class="header__mobile-link">Contacts</a>
      </li>
    </ul>
  </div>

  <button class="header__mobile-button">Consultation by phone</button>
</div>
