<header class="header">
  <div class="container header__div">
    <div class="header__menu-wrap">
      <a href="../index.html" class="header__mobile-logo">
        <svg>
          <use href="../img/symbol-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="header__burger-icon" width="24" height="16">
          <use href="../img/symbol-defs.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
    <a href="../index.html" class="header__logo">
      <svg>
        <use href="../img/symbol-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item">
          <a href="#" class="header__link">Studying program</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">about</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">training options</a>
        </li>
        <li class="header__item">
          <a href="#" class="header__link">contacts</a>
        </li>
      </ul>
    </nav>
    <button class="header__button">consultation by phone</button>
  </div>
</header>

<div class="menu-container js-menu-container" id="mobile-menu">
  <a href="../index.html" class="header__mobile-logo">
    <svg>
      <use href="../img/symbol-defs.svg#icon-logo"></use>
    </svg>
  </a>
  <button class="menu-toggle js-close-menu">
    <svg>
      <use href="../img/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>

  <ul class="header__mobile-list">
    <li class="header__mobile-item">
      <a href="#">Studying program</a>
    </li>
    <li class="header__mobile-item">
      <a href="#">About</a>
    </li>
    <li class="header__mobile-item">
      <a href="#">Training options</a>
    </li>
    <li class="header__mobile-item">
      <a href="#">Contacts</a>
    </li>
  </ul>
  <button class="header__mobile-button">Consultation by phone</button>
</div>
