<section class="hero">
  <div class="container hero__div">
    <div class="hero__wrap">
      <h1 class="hero__title" data-aos="fade-up">
        Complex preparation for English UPE
      </h1>
      <span class="hero__text" data-aos="fade-up"> It won’t be easy. </span>
      <p class="hero__description" data-aos="fade-up">
        But you are guaranteed to get <a class="hero__orange">+25 points</a>
      </p>
      <button class="hero__button" data-aos="fade-up">
        i want a free lesson
      </button>
    </div>
  </div>
</section>
