<section class="program">
  <div class="program__wrap">
    <div class="program__big-line"></div>
    <div class="container">
      <h2 class="program__title">Our program</h2>
      <div class="program__subwrap" data-aos="fade-up">
        <div class="program__small-line"></div>
        <ul class="program__list">
          <li class="program__item semester">
            <h3 class="semester__title">
              <span class="semester__span">1</span>semester
            </h3>
            <ul class="semester__list">
              <li class="semester__item">
                <div class="semester__wrap">
                  <div class="semester__line"></div>
                  <h4 class="semester__subtitle">Grammar</h4>
                </div>
                <ul class="semester__sublist">
                  <li class="semester__subitem">
                    <p class="semester__text">Nouns & Articles</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Adjectives & Adverb</p>
                  </li>
                </ul>
              </li>
              <li class="semester__item">
                <div class="semester__wrap">
                  <div class="semester__line"></div>
                  <h4 class="semester__subtitle">Vocabulary</h4>
                </div>
                <ul class="semester__sublist">
                  <li class="semester__subitem">
                    <p class="semester__text">Family & Relations</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">People & Society</p>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="program__item semester">
            <h3 class="semester__title">
              <span class="semester__span">2</span>семестр
            </h3>
            <ul class="semester__list">
              <li class="semester__item">
                <div class="semester__wrap">
                  <div class="semester__line"></div>
                  <h4 class="semester__subtitle">Grammar</h4>
                </div>
                <ul class="semester__sublist">
                  <li class="semester__subitem">
                    <p class="semester__text">Pronouns</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Active Voice</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Passive Voice</p>
                  </li>
                </ul>
              </li>
              <li class="semester__item">
                <div class="semester__wrap">
                  <div class="semester__line"></div>
                  <h4 class="semester__subtitle">Vocabulary</h4>
                </div>
                <ul class="semester__sublist">
                  <li class="semester__subitem">
                    <p class="semester__text">Home</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">School</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Work</p>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="program__item semester">
            <h3 class="semester__title">
              <span class="semester__span">3</span>семестр
            </h3>
            <ul class="semester__list">
              <li class="semester__item">
                <div class="semester__wrap">
                  <div class="semester__line"></div>
                  <h4 class="semester__subtitle">Grammar</h4>
                </div>
                <ul class="semester__sublist">
                  <li class="semester__subitem">
                    <p class="semester__text">Modal verbs</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Infinitive</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Gerund</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Participle: 1, 2</p>
                  </li>
                </ul>
              </li>
              <li class="semester__item">
                <div class="semester__wrap">
                  <div class="semester__line"></div>
                  <h4 class="semester__subtitle">Vocabulary</h4>
                </div>
                <ul class="semester__sublist">
                  <li class="semester__subitem">
                    <p class="semester__text">Travel & Tourism</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Culture & Free Time</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Sport</p>
                  </li>
                </ul>
              </li>
              <li class="semester__item">
                <div class="semester__wrap">
                  <div class="semester__line"></div>
                  <h4 class="semester__subtitle">Writing</h4>
                </div>
                <ul class="semester__sublist">
                  <li class="semester__subitem">
                    <p class="semester__text">Informal Letter</p>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="program__item semester">
            <h3 class="semester__title">
              <span class="semester__span">4</span>семестр
            </h3>
            <ul class="semester__list">
              <li class="semester__item">
                <div class="semester__wrap">
                  <div class="semester__line"></div>
                  <h4 class="semester__subtitle">Grammar</h4>
                </div>
                <ul class="semester__sublist">
                  <li class="semester__subitem">
                    <p class="semester__text">
                      Clauses: Conditional and Wishes
                    </p>
                  </li>

                  <li class="semester__subitem">
                    <p class="semester__text">Direct / Reported speech</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Preposition</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Conjunction</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Numeral</p>
                  </li>
                </ul>
              </li>
              <li class="semester__item">
                <div class="semester__wrap">
                  <div class="semester__line"></div>
                  <h4 class="semester__subtitle">Vocabulary</h4>
                </div>
                <ul class="semester__sublist">
                  <li class="semester__subitem">
                    <p class="semester__text">Healthy Living</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Nature & Environment</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Money</p>
                  </li>
                </ul>
              </li>
              <li class="semester__item">
                <div class="semester__wrap">
                  <div class="semester__line"></div>
                  <h4 class="semester__subtitle">Writing</h4>
                </div>
                <ul class="semester__sublist">
                  <li class="semester__subitem">
                    <p class="semester__text">Formal Letter</p>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="program__item semester">
            <h3 class="semester__title">
              <span class="semester__span">5</span>семестр
            </h3>
            <ul class="semester__list">
              <li class="semester__item">
                <div class="semester__wrap">
                  <div class="semester__line"></div>
                </div>
                <ul class="semester__sublist">
                  <li class="semester__subitem">
                    <p class="semester__text">Revision</p>
                  </li>
                  <li class="semester__subitem">
                    <p class="semester__text">Tests</p>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="benefits">
      <h2 class="benefits__title">Why do people choose us</h2>
      <div class="benefits__wrap" data-aos="fade-up">
        <ul class="benefits__list">
          <li class="benefits__item">
            <div class="benefits__wrapper">
              <h3 class="benefits__subtitle">01</h3>
            </div>
            <p class="benefits__text">Training in small groups</p>
          </li>
          <li class="benefits__item">
            <div class="benefits__wrapper">
              <h3 class="benefits__subtitle">02</h3>
            </div>
            <p class="benefits__text">Rendered notes</p>
          </li>
          <li class="benefits__item">
            <div class="benefits__wrapper">
              <h3 class="benefits__subtitle">03</h3>
            </div>
            <p class="benefits__text">
              Each lesson has a goal and a specific result
            </p>
          </li>
          <li class="benefits__item">
            <div class="benefits__wrapper">
              <h3 class="benefits__subtitle">04</h3>
            </div>
            <p class="benefits__text">The real results of the teacher</p>
          </li>
          <li class="benefits__item">
            <div class="benefits__wrapper">
              <h3 class="benefits__subtitle">05</h3>
            </div>
            <p class="benefits__text">
              The course program meets the requirements of the MES of Ukraine
            </p>
          </li>
          <li class="benefits__item">
            <div class="benefits__wrapper">
              <h3 class="benefits__subtitle">06</h3>
            </div>
            <p class="benefits__text">Set of groups by level of knowledge</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
