<section class="program">
  <div class="program__wrap">
    <div class="program__big-line"></div>
    <div class="container">
      <h2 class="program__title">Our program</h2>
      <ul class="program__list">
        <li class="program__item semester">
          <h3 class="semester__title">1 semester</h3>
          <ul class="semester__list">
            <li class="semester__item">
              <div class="semester__wrap">
                <div class="semester__line"></div>
                <h4 class="semester__subtitle">Grammar</h4>
              </div>
              <ul class="semester__sublist">
                <li class="semester__subitem">
                  <p class="semester__text">Nouns & Articles</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Adjectives & Adverb</p>
                </li>
              </ul>
            </li>
            <li class="semester__item">
              <div class="semester__wrap">
                <div class="semester__line"></div>
                <h4 class="semester__subtitle">Vocabulary</h4>
              </div>
              <ul class="semester__sublist">
                <li class="semester__subitem">
                  <p class="semester__text">Family & Relations</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">People & Society</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="program__item semester">
          <h3 class="semester__title">2 семестр</h3>
          <ul class="semester__list">
            <li class="semester__item">
              <div class="semester__wrap">
                <div class="semester__line"></div>
                <h4 class="semester__subtitle">Grammar</h4>
              </div>
              <ul class="semester__sublist">
                <li class="semester__subitem">
                  <p class="semester__text">Pronouns</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Active Voice</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Passive Voice</p>
                </li>
              </ul>
            </li>
            <li class="semester__item">
              <div class="semester__wrap">
                <div class="semester__line"></div>
                <h4 class="semester__subtitle">Vocabulary</h4>
              </div>
              <ul class="semester__sublist">
                <li class="semester__subitem">
                  <p class="semester__text">Home</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">School</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Work</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="program__item semester">
          <h3 class="semester__title">3 семестр</h3>
          <ul class="semester__list">
            <li class="semester__item">
              <div class="semester__wrap">
                <div class="semester__line"></div>
                <h4 class="semester__subtitle">Grammar</h4>
              </div>
              <ul class="semester__sublist">
                <li class="semester__subitem">
                  <p class="semester__text">Modal verbs</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Infinitive</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Gerund</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Participle: 1, 2</p>
                </li>
              </ul>
            </li>
            <li class="semester__item">
              <div class="semester__wrap">
                <div class="semester__line"></div>
                <h4 class="semester__subtitle">Vocabulary</h4>
              </div>
              <ul class="semester__sublist">
                <li class="semester__subitem">
                  <p class="semester__text">Travel & Tourism</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Culture & Free Time</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Sport</p>
                </li>
              </ul>
            </li>
            <li class="semester__item">
              <div class="semester__wrap">
                <div class="semester__line"></div>
                <h4 class="semester__subtitle">Writing</h4>
              </div>
              <ul class="semester__sublist">
                <li class="semester__subitem">
                  <p class="semester__text">Informal Letter</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="program__item semester">
          <h3 class="semester__title">4 семестр</h3>
          <ul class="semester__list">
            <li class="semester__item">
              <div class="semester__wrap">
                <div class="semester__line"></div>
                <h4 class="semester__subtitle">Grammar</h4>
              </div>
              <ul class="semester__sublist">
                <li class="semester__subitem">
                  <p class="semester__text">
                    Clauses: Conditional and Wishes
                  </p>
                </li>

                <li class="semester__subitem">
                  <p class="semester__text">Direct / Reported sp</p>
                  eech
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Preposition</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Conjunction</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Numeral</p>
                </li>
              </ul>
            </li>
            <li class="semester__item">
              <div class="semester__wrap">
                <div class="semester__line"></div>
                <h4 class="semester__subtitle">Vocabulary</h4>
              </div>
              <ul class="semester__sublist">
                <li class="semester__subitem">
                  <p class="semester__text">Healthy Living</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Nature & Environment</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Money</p>
                </li>
              </ul>
            </li>
            <li class="semester__item">
              <div class="semester__wrap">
                <div class="semester__line"></div>
                <h4 class="semester__subtitle">Writing</h4>
              </div>
              <ul class="semester__sublist">
                <li class="semester__subitem">
                  <p class="semester__text">Formal Letter</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="program__item semester">
          <h3 class="semester__title">5 семестр</h3>
          <ul class="semester__list">
            <li class="semester__item">
              <div class="semester__wrap">
                <div class="semester__line"></div>
              </div>
              <ul class="semester__sublist">
                <li class="semester__subitem">
                  <p class="semester__text">Revision</p>
                </li>
                <li class="semester__subitem">
                  <p class="semester__text">Tests</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="benefits__wrap">
      <ul class="benefits__list">
        <li class="benefits__item">
          <div class="benefits__wrapper">
            <h2 class="benefits__title">01</h2>
          </div>
          <p class="benefits__text">Training in small groups</p>
        </li>
        <li class="benefits__item">
          <div class="benefits__wrapper">
            <h2 class="benefits__title">02</h2>
          </div>
          <p class="benefits__text">Rendered notes</p>
        </li>
        <li class="benefits__item">
          <div class="benefits__wrapper">
            <h2 class="benefits__title">03</h2>
          </div>
          <p class="benefits__text">
            Each lesson has a goal and a specific result
          </p>
        </li>
        <li class="benefits__item">
          <div class="benefits__wrapper">
            <h2 class="benefits__title">04</h2>
          </div>
          <p class="benefits__text">The real results of the teacher</p>
        </li>
        <li class="benefits__item">
          <div class="benefits__wrapper">
            <h2 class="benefits__title">05</h2>
          </div>
          <p class="benefits__text">
            The course program meets the requirements of the MES of Ukraine
          </p>
        </li>
        <li class="benefits__item">
          <div class="benefits__wrapper">
            <h2 class="benefits__title">06</h2>
          </div>
          <p class="benefits__text">Set of groups by level of knowledge</p>
        </li>
      </ul>
    </div>
  </div>
</section>
