<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Feedback from graduates</h2>
    <div class="arrow-desktop">
    <svg class="reviews__left"><use  href="../img/symbol-defs.svg#icon-arrow-left"></use></svg>
      <svg class="reviews__right"><use  href="../img/symbol-defs.svg#icon-arrow-right"></use></svg>
  </div>
    <div class="reviews__prewrap">
      <div class="reviews__icon-wrap">
        <picture>
          <source class="reviews__icon"
            srcset="
              ./img/review/avatar-desktop.png    1x,
              ./img/review/avatar-desktop@2x.png 2x
            "
            media="min-width:1200px"
            type="image/png"
          />
          <source class="reviews__icon"
            srcset="
              ./img/review/avatar-desktop.webp    1x,
              ./img/review/avatar-desktop@2x.webp 2x
            "
            media="min-width:1200px"
            type="image/webp"
          />
          <source class="reviews__icon"
            srcset="
              ./img/review/avatar-tablet.png    1x,
              ./img/review/avatar-tablet@2x.png 2x
            "
            media="min-width:768px"
            type="image/png"
          />
          <source class="reviews__icon"
            srcset="
              ./img/review/avatar-tablet.webp    1x,
              ./img/review/avatar-tablet@2x.webp 2x
            "
            media="min-width:768px"
            type="image/webp"
          /> 
          <source class="reviews__icon"
            srcset="
              ./img/review/avatar-mobile.png    1x,
              ./img/review/avatar-mobile@2x.png 2x
            "
            media="min-width:480px"
            type="image/png"
          />
          <source class="reviews__icon"
            srcset="
              ./img/review/avatar-mobile.webp    1x,
              ./img/review/avatar-mobile@2x.webp 2x
            "
            media="min-width:480px"
            type="image/webp"
          />
          <img src="./img/review/avatar-mobile.png" alt="avatar-mobile" class="reviews__fotoblog" />
        </picture>
        <svg class="reviews__facebook" width="34px" height="35px">
          <use href="../img/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </div>
      <div class="reviews__wrap">
        <h3 class="reviews__name">Tonya Kucherovskaya</h3>
        <p class="reviews__history">
          Graduated from 2015, National University of Bioresources and natural
          history of Ukraine
        </p>
        <p class="reviews__test">
          In a short time with Elena, I mastered grammar and replenished my
          completely empty vocabulary. From the first lesson I realized that I
          was on my plate. Elena and I became friends because she was really
          worried about my success. She became an authority for me, but I did
          not tremble in class, fearing to make the slightest mistake. Now I can
          brag that I'm student ...
        </p>
        <a href="#" class="reviews__link">Read more</a>
      </div>
    </div>
    <div class="arrow-mobile">
      <svg class="reviews__left"><use  href="./img/symbol-defs.svg#icon-arrow-left"></use></svg>
      <svg class="reviews__right"><use  href="./img/symbol-defs.svg#icon-arrow-right"></use></svg>
  </div>
    <ul class="reviews__list">
      <li class="reviews__item">
        <img
          srcset="
            ./img/review/review-01-desktop.png    1x,
            ./img/review/review-01-desktop@2x.png 2x
          "
          src="./img/review/review-01-desktop.png"
          alt="reviews1"
        />
      </li>
      <li class="reviews__item">
        <img
          srcset="
            ./img/review/review-02-desktop.png    1x,
            ./img/review/review-02-desktop@2x.png 2x
          "
          src="./img/review/review-02-desktop.png"
          alt="reviews2"
        />
      </li>
      <li class="reviews__item">
        <img
          srcset="
            ./img/review/review-03-desktop.png    1x,
            ./img/review/review-03-desktop@2x.png 2x
          "
          src="./img/review/review-03-desktop.png"
          alt="reviews3"
        />
      </li>
      <li class="reviews__item">
        <img
          srcset="
            ./img/review/review-04-desktop.png    1x,
            ./img/review/review-04-desktop@2x.png 2x
          "
          src="./img/review/review-04-desktop.png"
          alt="reviews4"
        />
      </li>
      <li class="reviews__item">
        <img
          srcset="
            ./img/review/review-05-desktop.png    1x,
            ./img/review/review-05-desktop@2x.png 2x
          "
          src="./img/review/review-05-desktop.png"
          alt="reviews5"
        />
      </li>
      <li class="reviews__item">
        <img
          srcset="
            ./img/review/review-06-desktop.png    1x,
            ./img/review/review-06-desktop@2x.png 2x
          "
          src="./img/review/review-06-desktop.png"
          alt="reviews6"
        />
      </li>
      <li class="reviews__item">
        <img
          srcset="
            ./img/review/review-07-desktop.png    1x,
            ./img/review/review-07-desktop@2x.png 2x
          "
          src="./img/review/review-07-desktop.png"
          alt="reviews7"
        />
      </li>
    </ul>
  </div>
</section>
