<section class="solving">
  <div class="solving__background">
    <div class="container">
      <h2 class="solving__title" data-aos="fade-right">
        The main problems of students in English
        <span class="solving__span">UPE</span>, which <br />
        we <a href="#" class="solving__help-text" aria-label="help btn">help</a> to solve
      </h2>
    </div>
  </div>
  <div class="container">
    <div class="solving__benefits">
      <ul class="solving__list" data-aos="fade-left">
        <li class="solving__item">
          <div class="solving__wrap">
            <h2 class="solving__subtitle">01</h2>
          </div>
          <p class="solving__text">Grammar</p>
        </li>
        <li class="solving__item">
          <div class="solving__wrap">
            <h2 class="solving__subtitle">02</h2>
          </div>
          <p class="solving__text">Inability to understand spoken English</p>
        </li>
        <li class="solving__item">
          <div class="solving__wrap">
            <h2 class="solving__subtitle">03</h2>
          </div>
          <p class="solving__text">Stingy vocabulary for writing an essay</p>
        </li>
        <li class="solving__item">
          <div class="solving__wrap">
            <h2 class="solving__subtitle">04</h2>
          </div>
          <p class="solving__text">Preparing alone</p>
        </li>
        <li class="solving__item">
          <div class="solving__wrap">
            <h2 class="solving__subtitle">05</h2>
          </div>
          <p class="solving__text">Lack of a single knowledge resource</p>
        </li>
        <li class="solving__item">
          <div class="solving__wrap">
            <h2 class="solving__subtitle">06</h2>
          </div>
          <p class="solving__text">Lack of self-organization and laziness</p>
        </li>
      </ul>
    </div>
  </div>
</section>
