<section class="teacher">
  <div class="container">
    <div class="teacher__wrap">
      <h2 class="teacher__title">Teacher</h2>
      <img src="elena-moreva-desctop.png" alt="teacher" />
    </div>
    <h2 class="teacher__name">Elena Moreva</h2>
    <div class="teacher__line"></div>
    <ul class="teacher__list">
      <li class="teacher__item">
        <svg width="100" height="100">
          <use href="./img/symbol-defs.svg#icon-check-mark"></use>
        </svg>
        <p class="teacher__text">
          6 yeards of experience in preparing students for UPE
        </p>
      </li>
      <li class="teacher__item">
        <svg width="100" height="100">
          <use href="./img/symbol-defs.svg#icon-check-mark"></use>
        </svg>
        <p class="teacher__text">
          Own result of passing VNO - 197 points 2 years in a row
        </p>
      </li>
      <li class="teacher__item">
        <svg width="100" height="100">
          <use href="./img/symbol-defs.svg#icon-check-mark"></use>
        </svg>
        <p class="teacher__text">
          Passed excellent at the international analogue of UPE - Cambridge PET
          (Preliminary English Test)
        </p>
      </li>
    </ul>
    <div class="teacher__small-line"></div>
    <ul class="teacher__list-two">
      <li class="teacher__item-two">
        <p class="teacher__text-two">
          Graduated from the Institute of International Relations of the NAU
          with a degree in translator-analyst.
        </p>
      </li>
      <li class="teacher__item-two">
        <p class="teacher__text-two">
          In spare time takes courses from the best universities in the world on
          effective teaching and essay writing techniques.
        </p>
      </li>
      <li class="teacher__item-two">
        <p class="teacher__text-two">
          Completed: English Grammar and Essay Writing (Berkeley), English
          Grammar & Style (The University of Queesland), How to Write an Essay
          (Berkeley), Academic and Business Writing (Berkeley), The Art of
          Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston).
        </p>
      </li>
    </ul>
    <a href="#" class="teacher__button">
      Cambrige English Entry Level Certificate
    </a>
  </div>
</section>
