<section class="teacher">
  <div class="container">
    <div class="teacher__wraper">
      <div class="teacher__wrap" data-aos="fade-right">
        <h2 class="teacher__title">Teacher</h2>
        <picture>
          <source
            srcset="
              ./img/teacher/elena-moreva-desktop.png    1x,
              ./img/teacher/elena-moreva-desktop@2x.png 2x
            "
            media="(min-width: 1344px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/teacher/elena-moreva-tablet.png    1x,
              ./img/teacher/elena-moreva-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/teacher/elena-moreva-mobile.png    1x,
              ./img/teacher/elena-moreva-mobile@2x.png 2x
            "
            media="(min-width: 320px)"
            type="image/png"
          />
          <source
            srcset="
              ./img/teacher/elena-moreva-desktop.webp    1x,
              ./img/teacher/elena-moreva-desktop@2x.webp 2x
            "
            media="(min-width: 1344px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/teacher/elena-moreva-tablet.webp    1x,
              ./img/teacher/elena-moreva-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./img/teacher/elena-moreva-mobile.webp    1x,
              ./img/teacher/elena-moreva-mobile@2x.webp 2x
            "
            media="(min-width: 320px)"
            type="image/webp"
          />
          <img
            class="teacher__img"
            src="./img/teacher/elena-moreva-desktop.png"
            alt="white"
          />
        </picture>
      </div>
      <div class="teacher__subwrap" data-aos="fade-left">
        <h2 class="teacher__name">Elena Moreva</h2>
        <div class="teacher__line"></div>
        <ul class="teacher__list">
          <li class="teacher__item">
            <svg class="teacher__svg">
              <use href="./img/symbol-defs.svg#icon-check-mark"></use>
            </svg>
            <p class="teacher__text">
              6 yeards of experience in preparing students for UPE
            </p>
          </li>
          <li class="teacher__item">
            <svg class="teacher__svg">
              <use href="./img/symbol-defs.svg#icon-check-mark"></use>
            </svg>
            <p class="teacher__text">
              Own result of passing VNO - 197 points 2 years in a row
            </p>
          </li>
          <li class="teacher__item">
            <svg class="teacher__svg">
              <use href="./img/symbol-defs.svg#icon-check-mark"></use>
            </svg>
            <p class="teacher__text">
              Passed excellent at the international analogue of UPE - Cambridge
              PET (Preliminary English Test)
            </p>
          </li>
        </ul>
        <div class="teacher__small-line"></div>
        <ul class="teacher__list-two">
          <li class="teacher__item-two">
            <p class="teacher__text-two">
              Graduated from the Institute of International Relations of the NAU
              with a degree in translator-analyst.
            </p>
          </li>
          <li class="teacher__item-two">
            <p class="teacher__text-two">
              In spare time takes courses from the best universities in the
              world on effective teaching and essay writing techniques.
            </p>
          </li>
          <li class="teacher__item-two">
            <p class="teacher__text-two">
              Completed: English Grammar and Essay Writing (Berkeley), English
              Grammar & Style (The University of Queesland), How to Write an
              Essay (Berkeley), Academic and Business Writing (Berkeley), The
              Art of Teaching (GEMS education), Powerful Tools for Teaching and
              Learning (University of Houston).
            </p>
          </li>
        </ul>
        <a href="#" class="teacher__button" aria-label="Cambrige English Entry Level Certificate">
          Cambrige English Entry Level Certificate
        </a>
      </div>
    </div>
  </div>
</section>
