.form{
    background-image: url(../img/form/form-bg-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 200px;
    opacity: 8px;
    &__span{
        color: #ff6b09;
    }
    &__title{
        margin-top: 100px;
        margin-bottom: 50px;
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 14px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-align: center;
        color: #fff;
    }

    &__text{
        margin-bottom: 56px;
        font-family: 'Montserrat';
font-weight: 600;
font-size: 12px;
letter-spacing: 0.08em;
text-align: center;
color: #fff;
    }

    &__wrap{
        display: flex;
        justify-content: center;
    }

    &__form{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    

    .form__label:nth-child(1){
    margin-bottom: 20px;
    }

    .form__label:nth-child(2){
        margin-bottom: 50px;
        }
    &__label{

        width: 260px;
        
    }

    &__input{
        font-family: 'Montserrat';
        padding-left: 20px;
font-weight: 600;
font-size: 20px;
letter-spacing: 0.08em;
color: #fff;
    }

    &__button{
        width: 260px;
        height: 48px;
        background-color: #ff6b09;
        font-family: 'Montserrat';
font-weight: 700;
font-size: 14px;
letter-spacing: 0.14em;
text-transform: uppercase;
text-align: center;
color: #fff;
    }
}






@media screen and (min-width: 768px){

    .form{
        background-image: url(../img/form/form-bg-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 9;
        &__title{
            margin-top: 100px;
            margin-bottom: 50px;
            font-family: 'Montserrat';
            font-weight: 800;
            font-size: 26px;
            line-height: 130%;
            letter-spacing: 0.03em;
            text-align: center;
            color: #fff;
        }
    
        &__text{
            margin-bottom: 56px;
            font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #fff;
        }
    
        &__span{
            color: #ff6b09;
        }
    
        &__wrap{
            display: flex;
            justify-content: center;
        }
    
        &__form{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        
    
        .form__label:nth-child(1){
        margin-bottom: 20px;
        }
    
        .form__label:nth-child(2){
            margin-bottom: 80px;
            }
        &__label{
            border: 1px solid black;
        }
    
        &__input{
            color: white;
            font-family: "Montserrat";
            padding-top: 23px;
            padding-bottom: 23px;
            padding-left: 40px;
            padding-right: 361px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.08em;
    color: #fff;
        }
    
        &__button{
            margin-left: 150px;
            width: 260px;
            height: 48px;
            background-color: #ff6b09;
        }
    
        &__comment{
            font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
        }
    }


}








@media screen and (min-width: 1200px) {
    

.form{
    opacity: 9;
    &__title{
        margin-top: 100px;
        margin-bottom: 50px;
        font-family: 'Montserrat';
        font-weight: 800;
        font-size: 46px;
        line-height: 130%;
        letter-spacing: 0.03em;
        text-align: center;
        color: #fff;
    }

    &__text{
        margin-bottom: 56px;
        font-family: 'Montserrat';
font-weight: 600;
font-size: 30px;
letter-spacing: 0.08em;
text-align: center;
color: #fff;
    }

    &__span{
        color: #ff6b09;
    }

    &__wrap{
        display: flex;
        justify-content: center;
    }

    &__form{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    

    .form__label:nth-child(1){
    margin-bottom: 20px;
    }

    .form__label:nth-child(2){
        margin-bottom: 80px;
        }
    &__label{
        border: 1px solid black;
    }

    &__input{
        color: white;
        font-family: "Montserrat";
        padding-top: 23px;
        padding-bottom: 23px;
        padding-left: 40px;
        padding-right: 361px;
font-weight: 600;
font-size: 20px;
letter-spacing: 0.08em;
color: #fff;
    }

    &__button{
        margin-left: 150px;
        width: 354px;
        height: 70px;
        background-color: #ff6b09;
    }

    &__comment{
        font-family: 'Montserrat';
font-weight: 700;
font-size: 14px;
letter-spacing: 0.14em;
text-transform: uppercase;
text-align: center;
color: #fff;
    }
}

}