.guarantee {
  padding-top: 70px;
}
.guarantee__list {
  background-color: $secondaryBgColor;
  padding: 45px 15px;
}
.guarantee__title {
  text-align: center;
  margin-bottom: 30px;
  @include title();
  color: $titleColor;
  font-size: 26px;
}
.fire__svg {
  fill: $accentColor;
  width: 15px;
  height: 20px;
  margin-bottom: 6px;
}
.guarantee__span {
  color: $accentColor;
}
.guarantee__item {
  display: flex;
  margin-bottom: 6px;
}
.guarantee__wrap {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: center;
}
.guarantee__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 167%;
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .guarantee__list {
    padding: 30px 64px;
  }
  .guarantee__text {
    font-size: 12px;
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
  .guarantee__wrap {
    margin-right: 24px;
  }
  .fire__svg {
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 1344px) {
  .guarantee {
    padding-top: 129px;
  }
  .guarantee__list {
    padding: 50px 112px;
    padding-bottom: 45px;
  }
  .guarantee__title {
    margin-bottom: 50px;
    font-size: 46px;
  }
  .guarantee__wrap {
    margin-right: 30px;
  }
  .fire__svg {
    width: 22px;
    height: 30px;
  }
  .guarantee__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
  }
  .fire__svg {
    fill: $accentColor;
    width: 22px;
    height: 30px;
  }
}
