.header {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}
.header__menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.header__mobile-logo-icon {
  height: 30px;
  width: 80px;
}
@media screen and (max-width: 767px) {
  .header__menu-btn {
    display: none;
  }
}
@media screen and (max-width: 1344px) {
  .header__wrap {
    display: none;
  }
  .header__logo {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__list {
    display: none;
  }
  .header__button {
    display: none;
  }
}
.menu-toggle {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.menu-container.is-open {
  transform: translateX(0%);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 30px 20px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background-color: rgba(17, 21, 24, 0.9);
  display: flex;
  flex-direction: column;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 37px;
  right: 20px;
  color: $secondaryTextColor;
}
.header__menu-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__mobile-close {
  width: 15px;
  height: 15px;
}
.header__mobile-link {
  font-weight: 800;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.03em;
  color: $secondaryTextColor;
  transition: color 250ms ease-in-out;
  &:hover {
    color: $accentColor;
  }
}

.header__mobile-list {
  margin-bottom: 50px;
  margin-top: 49px;
}

.header__mobile-button {
  border: 2px solid $accentColor;
  width: 260px;
  height: 48px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  color: $accentColor;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto;
  transition: color 250ms ease-in-out;
  transition: border 250ms ease-in-out;
  &:hover {
    color: $secondaryTextColor;
    border: 2px solid $secondaryTextColor;
  }
}
.header__mobile-logo-open {
  width: 80px;
  height: 30px;
}
@media screen and (min-width: 767px) {
  .header__mobile-wrap {
    margin: 0 auto;
  }
  .header__mobile-list {
    margin-top: 72px;
  }
  .header__mobile-link {
    font-size: 26px;
  }
  .header__mobile-close {
    width: 15px;
    height: 15px;
  }
  .header__mobile-logo-open {
    width: 128px;
    height: 45px;
  }
  .header__mobile-logo {
    margin-right: 253px;
  }
  .header__mobile-button {
    display: none;
  }
  .header__mobile-close {
    width: 15px;
    margin-right: 3px;
  }
  .header {
    padding: 40px 0;
    padding-bottom: 0px;
  }
  .header__mobile-logo-icon {
    width: 135px;
    height: 88px;
  }
  .header__menu-btn {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    color: $accentColor;
    border: 2px solid $accentColor;
    padding: 15px 19px;
    background-color: $secondaryTextColor;
    transition: color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;
    &:hover {
      background-color: $accentColor;
      color: $secondaryTextColor;
    }
  }
}

@media screen and (min-width: 1344px) {
  .header__menu-wrap {
    display: none;
  }
  .header__mobile-logo {
    display: none;
  }
  .header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1314px;
  }
  .header__logo {
    display: flex;
  }
  .header__computer-logo {
    width: 128px;
    height: 45px;
  }

  .header__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 623px;
  }

  .header__button {
    width: 335px;
    height: 70px;
    background-color: rgba($color: #000000, $alpha: 0);
    border: 2px solid $accentColor;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
    color: $accentColor;
    cursor: pointer;
    transition: color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;
    &:hover {
      background-color: $accentColor;
      color: $secondaryTextColor;
    }
  }
  .header__link {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: $textColor;
    transition: color 250ms ease-in-out;
    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}
