.hero {
  background-image: url(../img/hero/people-bg-mobile.png),
    -webkit-image-set(url(../img/hero/people-bg-mobile.webp) 1x, url(../img/hero/people-bg-mobile@2x.webp)
          2x),
    image-set(
      url(../img/hero/people-bg-mobile.png) 1x,
      url(../img/hero/people-bg-mobile@2x.png) 2x
    ),
    url(../img/hero/wave-bg-mobile.png),
    -webkit-image-set(url(../img/hero/wave-bg-mobile.webp) 1x, url(../img/hero/wave-bg-mobile@2x.webp)
          2x),
    image-set(
      url(../img/hero/wave-bg-mobile.png) 1x,
      url(../img/hero/wave-bg-mobile@2x.png) 2x
    );
  background-repeat: no-repeat;
  background-position: center bottom, center bottom, center bottom, top left;
  background-size: auto, auto, auto, cover, cover, cover;
  padding-bottom: 232px;
}
.hero__wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.hero__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $titleColor;
  margin-bottom: 8px;
}

.hero__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.08em;
  color: $textColor;
}

.hero__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.08em;
  color: $titleColor;
  width: 280px;
  margin-bottom: 50px;
}

.hero__orange {
  font-weight: 700;
  font-size: 14px;
  line-height: 157%;
  letter-spacing: 0.08em;
  color: $accentColor;
}

.hero__button {
  width: 260px;
  height: 48px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: center;
  background-color: $accentColor;
  color: $secondaryTextColor;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition: color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
  &:hover {
    background-color: $secondaryTextColor;
    color: $accentColor;
    border: 2px solid $accentColor;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../img/hero/people-bg-tablet.png),
      -webkit-image-set(url(../img/hero/people-bg-tablet.webp) 1x, url(../img/hero/people-bg-tablet@2x.webp)
            2x),
      image-set(
        url(../img/hero/people-bg-tablet.png) 1x,
        url(../img/hero/people-bg-tablet@2x.png) 2x
      ),
      url(../img/hero/wave-bg-tablet.png),
      -webkit-image-set(url(../img/hero/wave-bg-tablet.webp) 1x, url(../img/hero/wave-bg-tablet@2x.webp)
            2x),
      image-set(
        url(../img/hero/wave-bg-tablet.png) 1x,
        url(../img/hero/wave-bg-tablet@2x.png) 2x
      );
    background-repeat: no-repeat;
    background-position: top right, top right, top right, top left, top left,
      top left;
    background-size: auto, auto, auto, cover, cover, cover;
    padding-bottom: 232px;
  }
  .hero__wrap {
    display: block;
  }
  .hero__title {
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $titleColor;
    margin-bottom: 15px;
    width: 320px;
  }
  .hero__div {
    margin-top: 74px;
  }
}
@media screen and (min-width: 1344px) {
  .hero {
    background-image: url(../img/hero/people-bg-desktop.png),
      -webkit-image-set(url(../img/hero/people-bg-desktop.webp) 1x, url(../img/hero/people-bg-desktop@2x.webp)
            2x),
      image-set(
        url(../img/hero/people-bg-desktop.png) 1x,
        url(../img/hero/people-bg-desktop@2x.png) 2x
      ),
      url(../img/hero/wave-bg-desktop.png),
      -webkit-image-set(url(../img/hero/wave-bg-desktop.webp) 1x, url(../img/hero/wave-bg-desktop@2x.webp)
            2x),
      image-set(
        url(../img/hero/wave-bg-desktop.png) 1x,
        url(../img/hero/wave-bg-desktop@2x.png) 2x
      );
    background-repeat: no-repeat;
    background-position: center right, center right, center right, top left,
      top left, top left;
    background-size: auto, auto, auto, cover, cover, cover;
    padding-bottom: 232px;
    padding-top: 55px;
  }
  .hero__title {
    font-size: 58px;
    margin-bottom: 15px;
    width: 530px;
  }

  .hero__text {
    font-size: 20px;
    line-height: 165%;
  }

  .hero__description {
    font-size: 20px;
    line-height: 165%;
    width: 530px;
  }

  .hero__orange {
    font-size: 20px;
    line-height: 165%;
    color: $titleColor;
  }
  .hero__button {
    width: 354px;
    height: 70px;
    font-size: 14px;
    letter-spacing: 0.14em;
  }
}
