.reviews {

  &__arrowleft{
    position: relative;
    top: 75px;
    left: 69px;
    fill:#ff6b09;
    width: 25px;
    height: 80px;
   
  }

  &__arrowright{
    position: relative;
    top: 75px;
    left: 320px;
    fill: #ff6b09;
    width: 25px;
    height: 80px;
  }



  .icon-facebook{
    margin-top: 18.29px;
    margin-left: 205px;
    margin-bottom: -100px;
  }

  
  &__fotoblog{
    margin-top: 25px;
    margin-left: 180px;
  }


  &__title {
    margin-top: 70px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #111518;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    margin-left: 128px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.08em;
    color: #ff6b09;
  }

  &__history {
   margin-left: 80px;
    width: 280px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #b9b9b9;
    margin-bottom: 16px;
  }

  &__test {
    width: 280px;
    margin-left: 80px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    text-align: center;
    color: #3d3d3d;
  }


  &__icon{
    width: 90px;
    height: 90px;
  }


  &__link {
    text-decoration-line: underline;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    text-align: center;
    color: #ff6b09;
  }

  &__item{
    margin-right: 10px;
  }

  .reviews__item:nth-child(n+4){
     display: none;
     
  }
}

@media screen and (min-width: 768px) {
  




  .icon-facebook{
    position: relative;
    right: 95px;
    top: 52px;
  }

  .reviews{

    &__left{
      position: relative;
      bottom: 175px;
      fill:#ff6b09;
      width: 25px;
      height: 80px;
     
    }
  
    &__right{
      position: relative;
      bottom: 175px;
      left: 650px;
      fill: #ff6b09;
      width: 25px;
      height: 80px;
    }

  &__fotoblog{
    position: relative;
    right: 125px;
    top: 50px;
    width: 150px;
    height: 150px;
  }

  
  &__title {
    margin-top: 70px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #111518;
  }
  

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    margin-left: 128px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.08em;
    color: #ff6b09;
  }


  
  &__history {
    
     width: 412px;
     font-family: 'Montserrat';
     font-weight: 500;
     font-size: 12px;
     letter-spacing: 0.08em;
     text-align: center;
     color: #b9b9b9;
     margin-bottom: 16px;
   }
 
   &__test {
     width: 412px;
     
     font-family: 'Montserrat';
     font-weight: 500;
     font-size: 12px;
     line-height: 167%;
     text-align: center;
     color: #3d3d3d;
   }

   &__wrap{
    margin-top: -282px;
    margin-left: 160px;
   }


   .reviews__item:nth-child(n+2){
    display: block;
    
    
 }
   

  }


}
















@media screen and (min-width: 1200px) {
  .arrow-mobile {
    display: none;
  }

  .reviews {
    &__title {
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 46px;
      line-height: 130%;
      letter-spacing: 0.03em;
      text-align: center;
      color: #111518;
    }

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__name {
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 30px;
      letter-spacing: 0.08em;
      color: #ff6b09;
    }
  }
}
