.reviews__left:active{
fill: gray;

}

.reviews__right:active{
  fill: gray;
  
  }
.reviews {
  padding-top: 70px;
  padding-bottom: 61px;
  &__wrapper {
    position: relative;
  }
  &__left {
    position: absolute;
    left: 0px;
    top: 613px;
    fill: #ff6b09;
    width: 25px;
    height: 25px;
  }
  &__right {
    position: absolute;
    top: 613px;
    fill: #ff6b09;
    width: 25px;
    right: 0;
    height: 25px;
  }
  &__fotoblog {
    margin: 0 auto;
    margin-top: 25px;
    height: 90px;
    width: 90px;
  }
  &__facebook {
    margin-top: 18px;
  }
  &__title {
    margin: 0 auto;
    font-family: 'Montserrat';
    width: 180px;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #111518;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 52px;
  }
  &__icon-wrap {
    text-align: center;
  }
  &__name {
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.08em;
    color: #ff6b09;
    text-align: center;
    margin-top: 22px;
  }
  &__history {
    width: 280px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #b9b9b9;
    margin: 0 auto;
    margin-bottom: 16px;
  }
  &__test {
    width: 280px;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    text-align: center;
    color: #3d3d3d;
  }
  &__icon {
    width: 90px;
    height: 90px;
  }
  &__link {
    text-decoration-line: underline;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    text-align: center;
    color: #ff6b09;
  }
  &__item {
    margin-right: 10px;
  }

  .reviews__item:hover{

    transition-duration: 250ms; 
    transition-timing-function: $time-function; 
    transform: scale(1.25);
  }

  .reviews__item:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .reviews {
    &__left {
      position: absolute;
      left: -12px;
      top: 219px;
      fill: #ff6b09;
      width: 25px;
      height: 25px;
    }
    &__right {
      position: absolute;
      left: 725px;
      top: 219px;
      fill: #ff6b09;
      width: 25px;
      height: 25px;
    }
    &__prewrap {
      display: flex;
      justify-content: space-between;
      padding: 40px;
      box-shadow: -5px 8px 26px 0 rgba(0, 0, 0, 0.04);
    }
    &__fotoblog {
      width: 150px;
      height: 150px;
    }
    &__facebook {
      margin-top: 15px;
    }
    &__title {
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 26px;
      line-height: 130%;
      letter-spacing: 0.03em;
      width: 400px;
      text-align: center;
      color: #111518;
      margin-bottom: 28px;
    }
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
    }
    &__name {
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 20px;
      letter-spacing: 0.08em;
      color: #ff6b09;
      text-align: left;
    }
    &__history {
      width: 412px;
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.08em;
      text-align: center;
      color: #b9b9b9;
      margin-bottom: 16px;
      text-align: left;
    }
    &__test {
      width: 412px;
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 12px;
      line-height: 167%;
      color: #3d3d3d;
      text-align: left;
    }
    &__link {
      text-align: left;
      justify-content: flex-start;
    }
    
    .reviews__item:nth-child(n + 2) {
      display: block;
    }
    &__item {
      margin-right: 0;
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
}
@media screen and (min-width: 1344px) {
  .reviews {
    padding-bottom: 130px;
    &__left {
      position: absolute;
      fill: #ff6b09;
      width: 25px;
      height: 25px;
      top: 292px;
      left: 27px;
    }
    &__right {
      position: absolute;
      fill: #ff6b09;
      width: 25px;
      height: 25px;
      top: 292px;
      left: 1260px;
    }
    &__icon-wrap {
      margin-top: 32px;
    }
    &__prewrap {
      margin: 0 112px;
      padding-top: 50px;
      padding-bottom: 51px;
      padding-right: 112px;
      padding-left: 82px;
    }
    &__fotobloga {
      display: block;
      padding-bottom: 20px;
    }
    &__facebook {
      margin-top: 18px;
    }
    &__title {
      width: 800px;
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 46px;
      line-height: 130%;
      letter-spacing: 0.03em;
      text-align: center;
      color: #111518;
      margin-bottom: 50px;
    }

    &__list {
      margin-top: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__name {
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 30px;
      letter-spacing: 0.08em;
      color: #ff6b09;
      margin-bottom: 10px;
    }
    &__history {
      width: 482px;
      font-weight: 500;
      font-size: 14px;
      line-height: 129%;
      letter-spacing: 0.08em;
      margin: 0;
      margin-bottom: 18px;
    }
    &__test {
      margin: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 156%;
      width: 706px;
    }
    &__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 156%;
    }
  }
}
