.reviews {
  padding-top: 70px;
  padding-bottom: 61px;
  &__left {
    fill: #ff6b09;
    width: 25px;
    height: 25px;
  }
  &__right {
    fill: #ff6b09;
    width: 25px;
    height: 25px;
  }
  &__fotoblog {
    margin: 0 auto;
    margin-top: 25px;
  }

  &__title {
    margin: 0 auto;
    font-family: 'Montserrat';
    width: 180px;
    font-weight: 800;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #111518;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon-wrap {
    text-align: center;
  }
  &__name {
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 0.08em;
    color: #ff6b09;
    text-align: center;
  }
  &__history {
    width: 280px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #b9b9b9;
    margin-bottom: 16px;
    margin: 0 auto;
  }
  &__test {
    width: 280px;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    text-align: center;
    color: #3d3d3d;
  }
  &__icon {
    width: 90px;
    height: 90px;
  }
  &__link {
    text-decoration-line: underline;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    line-height: 167%;
    text-align: center;
    color: #ff6b09;
  }
  &__item {
    margin-right: 10px;
  }
  .reviews__item:nth-child(n + 4) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .icon-facebook {
    position: relative;
    right: 95px;
    top: 52px;
  }
  .reviews {
    &__left {
      fill: #ff6b09;
      width: 25px;
      height: 80px;
    }
    &__right {
      fill: #ff6b09;
      width: 25px;
      height: 80px;
    }
    &__prewrap {
      display: flex;
      justify-content: space-between;
      padding: 40px;
      box-shadow: -5px 8px 26px 0 rgba(0, 0, 0, 0.04);
    }
    &__fotoblog {
      width: 150px;
      height: 150px;
    }
    &__title {
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 26px;
      line-height: 130%;
      letter-spacing: 0.03em;
      width: 400px;
      text-align: center;
      color: #111518;
      margin-bottom: 28px;
    }
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__name {
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 20px;
      letter-spacing: 0.08em;
      color: #ff6b09;
      text-align: left;
    }
    &__history {
      width: 412px;
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.08em;
      text-align: center;
      color: #b9b9b9;
      margin-bottom: 16px;
      text-align: left;
    }
    &__test {
      width: 412px;
      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 12px;
      line-height: 167%;
      color: #3d3d3d;
      text-align: left;
    }
    &__link {
      text-align: left;
      justify-content: flex-start;
    }
    .reviews__item:nth-child(n + 2) {
      display: block;
    }
  }
}

@media screen and (min-width: 1200px) {
  
  
  .reviews {


    &__br{
      display: none;
    }


    &__fotoblog{
      display: none;
    }

    &__fotobloga{
      display: flex;
    }

    &__title {
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 46px;
      line-height: 130%;
      letter-spacing: 0.03em;
      text-align: center;
      color: #111518;
    }

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__name {
      font-family: 'Montserrat';
      font-weight: 800;
      font-size: 30px;
      letter-spacing: 0.08em;
      color: #ff6b09;
    }

    &__wrap{
      display: flex;
      flex-direction: column;
      padding-left: 220px;
    }

    &__link{
      display: flex;
      justify-content: left;
    }


     &__name{
      margin-left: 28px;
      margin-top: 202px;
     }


    &__history{
      width: 482px;
    }

    &__test{
      width: 607px;


      font-family: 'Montserrat';
      font-weight: 500;
      font-size: 12px;
      line-height: 167%;
      text-align: center;
      color: #3d3d3d;
    }
  }
}
