.solving__background {
  padding-top: 25px;
  position: relative;
}
.solving__title {
  color: $secondaryTextColor;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
  width: 280px;
}
.solving__span {
  font-size: 20px;
}
.solving__help-text {
  color: $accentColor;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.03em;
}

.solving__benefits {
  position: absolute;
  top: 205px;
  margin: 0 auto;
  background-color: $secondaryTextColor;
  width: 290px;
  box-shadow: -5px 8px 26px 0 rgba(0, 0, 0, 0.04);
  padding: 20px 28px;
}
.solving {
  position: relative;
  margin-bottom: 150px;
  background-color: $titleColor;
  padding-bottom: 365px;
}
.solving__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 165%;
  letter-spacing: 0.08em;
  color: $accentColor;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: $accentColor;
    margin-right: 9px;
  }
}
.solving__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.08em;
  color: $titleColor;
}
.solving__item:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (min-width: 738px) {
  .solving__title {
    width: 450px;
    font-weight: 800;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
  .solving__background {
    padding-top: 55px;
    position: relative;
  }
  .solving__benefits {
    width: 688px;
  }
  .solving__list {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 90px;
    justify-content: space-between;
  }
  .solving__item {
    width: 220px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1344px) {
  .solving__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 165%;
    letter-spacing: 0.08em;
  }
  .solving__title {
    width: 807px;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
  .solving__help-text {
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
  .solving__background {
    padding-top: 55px;
    position: relative;
  }
  .solving__benefits {
    width: 1314px;
  }
  .solving__list {
    display: flex;
    flex-wrap: wrap;
    padding: 28px 90px;
    justify-content: space-between;
  }
  .solving__item {
    width: 336px;
    margin-bottom: 0px;
  }
  .solving__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.08em;
  }
  .solving__benefits {
    top: 348px;
  }
  .solving__span {
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
}
