.teacher__svg{
    fill: $accentColor;
}
.teacher__title{
    color: $titleColor;
}
.teacher__name{
    color: $titleColor;
}
.teacher__text{
    color: $titleColor;
}
.teacher__text-two{
    color: $textColor;
}